* {
    margin: 0;
    padding: 0;
    text-align: center;
} 

h1 {
    background-color: indigo;
    color: cornsilk;
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover {
    cursor: pointer;
    background-color: black;
}

img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 40%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 6rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#user , #computer {
    font-size: 3rem;
}

.msgcon {
    margin-top: 2rem;
}

#msg {
    background-color: black;
    color: azure;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}